@import './styles/colors';
@import './styles/mixins';
@import './styles/baseline';

.App {
  text-align: center;
}

.page {
  width: 100%;
  margin: auto;
}

.panel {
  margin: 5 * $baseline auto;
  background-color: $secondaryColor;
  padding: 6 * $baseline;
  max-width: 60 * $baseline;

  @include md {
    max-width: 80 * $baseline;
  }

  @include lg {
    max-width: 120 * $baseline;
  }
}

.cards {
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr))
}

 .card {
   background-color: $primaryColor;
   padding: 1rem;
   height: 4rem;
}
