@import '../../../styles/mixins';
@import '../../../styles/capitalize';
@import '../../../styles/baseline';
@import '../../../styles/colors';

.bodyText {
  color: black;
  margin: 0;
  color: color(white);

  &__primary {
    @include primaryFont();
  }

  &__secondary {
    @include secondaryFont();
  }

  &__sizeSm {
    font-size: 4 * $typographyBaseline;
  }

  &__sizeMd {
    font-size: 6 * $typographyBaseline;
  }

  &__sizeLg {
    font-size: 8 * $typographyBaseline;
  }
}

