@import '../../../styles/baseline';
@import '../../../styles/typography';

.input {
    padding: $baseline;
    margin: $baseline 0;
    border-radius: $baseline;
    font-size: 2 * $baseline;

    @include primaryFont;
}
